@import '../../vars.scss';

.latestMoviesTitle {
  color: $breaker-bay;
  padding-left: 10px;
}

.latestMoviesContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 750px;
  justify-content: center;
}

.moviePoster {
  margin: 10px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;

  img {
    width: 100%;
  }
}