@import '../../vars.scss';

input {
  width: 100%;
}

.searchForm {
  max-width: 400px;
  margin: 50px auto;

  @include mobile(portrait) {
    max-width: calc(100% - 150px);
  }
}

input.search {
  @include quicksand(16);
  color: $breaker-bay;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 0;
  border: 10px solid #f7f7f7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 0px;

  @include mobile() {
    @include quicksand(10);
  }
}

input.search:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.details {
  text-align: center;
  font-size: 15px;
}

a {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
