@import '../../vars.scss';

.mainImageWrapper {
  position: relative;
}

.mainImage {
  width: 100%;
  height: 50vh;
  top: 0;
  height: 50vh;
  background-size: cover;

  @include mobile(landscape) {
    height: 100vh;
  }
}

.genreContainer {
  display: inline-block;
}

.genre {
  color: $white;
  margin-right: 5px;
}

.overview {
  color: $white;
}

.mainImageContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  time {
    @include opensans(9);
    color: $white;
    justify-content: center;
    width: 100px;
    display: inline-flex;
    background: $breaker-bay;

    @include mobile(all) {
      @include opensans(7);
    }
  }

  .mainTitle {
    @include roboto(26);
    color: $white;
    text-shadow: 1px 1px 1px $baltic-sea;

    @include mobile(all) {
      @include roboto(20);
    }
  }
}
