@import '../../vars.scss';

.rating {
  display: flex;
  align-items: center;
}

.moviePoster {
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  transition: padding 100ms;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    outline: 1px solid $chestnut-rose;
    outline-offset: 2px;
    padding: 5px;
  }

  .movieInfoContainer {
    padding: 5px;

    h4 {
      @include quicksand(10);
      color: $breaker-bay;
    }
  }

  img {
    height: 100%;
  }
}
